<h2>My Heroes</h2>

<!--  -->
<ul class="heroes" *ngIf="heroes.length > 0">
    <!-- *ngFor 是一个 Angular 的复写器（repeater）指令。 它会为列表中的每项数据复写它的宿主元素。 -->
    <!-- 绑定点击事件 -->
    <!-- 为选定的英雄设置样式 -->
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<!-- 这是一种单向数据绑定。从 HeroesComponent 的 selectedHero 属性绑定到目标元素的 hero 属性，并映射到了 HeroDetailComponent 的 hero 属性。 -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
